.sme {
  .section-hero {
    min-height: 60vh;
    background-color: #ffffff;
    color: $grey-color-dark;
    padding-bottom: 100px;
    background-image: url("../img/smes-hero.jpg");
    background-position: calc(50% + 400px) top;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;

    &__wrapper {
      width: 50%;

      .line {
        margin: 0 auto 2.5em 0;
      }
    }

    p {
      font-size: 1.5em;
      font-weight: 300;
    }

    .container {
      padding-top: 150px;
    }

    @media (max-width: 767px) {
      padding: 0 10% 100px 10%;
      background-position: 50vw top;
    }

    @media (max-width: 480px) {
      padding: 0 5% 100px 5%;
      background-position: 40vw top;

      h1 {
        width: 80%;
      }

      &__wrapper {
        width: 100%;
      }
    }

    @media (min-height: 800px) {
      min-height: 30vh;
      padding-bottom: 100px;
    }
  }

  .section-what {
    padding: 100px 15%;
    text-align: center;

    @media (max-width: 767px) {
      padding: 100px 10% 50px 10%;
    }

    @media (max-width: 480px) {
      padding: 100px 5% 50px 5%;
    }
  }

  .section-steps {
    text-align: center;

    &__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-bottom: 3.5em;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      align-items: center;

      @media (max-width: 767px) {
        margin-bottom: 0;
      }
    }

    &__item {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      flex: 1;
      margin: 20px 50px;
      position: relative;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;

      &--top {
        background-color: $grey-color-light;
        padding: 20px;

        img {
          max-height: 200px;
        }
      }

      &--bottom {
        padding: 20px;
        color: $grey-color-light;
      }

      h3 {
        color: $grey-color-dark;
      }

      &:nth-child(1)::after,
      &:nth-child(2)::after {
        content: "";
        background-image: url("../img/arrow.svg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        position: absolute;
        top: 45%;
        right: -75px;
        color: $primary-color;
        height: 70px;
        width: 70px;
      }

      @media (max-width: 767px) {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        flex: 100%;
        margin: 50px;

        &:nth-child(1)::after,
        &:nth-child(2)::after {
          content: "";
          top: unset;
          bottom: -70px;
          left: 40%;
          right: unset;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }

      @media (max-width: 480px) {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        flex: 100%;

        &:nth-child(1)::after,
        &:nth-child(2)::after {
          content: "";
          top: unset;
          bottom: -70px;
          left: 35%;
          right: unset;
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }
  }

  .section-services {
    padding: 100px;
    text-align: center;

    &__items {
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: -moz-box;
      display: flex;
      -ms-flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-wrap: wrap;
    }

    &__item {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      flex: 1;
      padding: 20px 30px;
      margin: 20px;
      text-align: left;
      border-top: 5px solid $primary-color;
      background-color: $grey-color-dark;
      color: $grey-color-light;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
    }

    @media (max-width: 979px) {
      &__item {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        flex: 100%;
        padding: 20px 30px;
        margin: 20px;
      }
    }

    @media (max-width: 767px) {
      padding: 100px 10%;

      &__item {
        -webkit-box-flex: 100%;
        -ms-flex: 100%;
        -webkit-flex: 100%;
        -moz-box-flex: 100%;
        flex: 100%;
        padding: 20px 30px;
        margin: 20px 0;
      }
    }

    @media (max-width: 480px) {
      padding: 100px 5%;
    }
  }
}
