.thank-you {
  text-align: center;
  min-height: 100vh;

  img {
    width: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  h1 {
    margin-bottom: 25px;
  }

  &__wrapper {
    height: 100%;
    padding: 100px 15%;
  }
}
