/* Colors */
$primary-color: #00cc66;
$secondary-color-blue: #0086C1;
$secondary-color-yellow: #F4D916;
$grey-color-light: #EFEFEF;
$grey-color-dark: #202020;
$fitato-red: #EB1F2E;
$yuyutsu: #FF6600;

/* Shadows */
$primary-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
$secondary-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
