@import "variables";
@import "globals";
@import "components";
@import "header";
@import "footer";
@import "page-index";
@import "page-startups";
@import "page-sme";
@import "page-about";
@import "page-contact";
@import "page-privacy";
@import "page-thank-you";
@import "page-case-studies";
@import "page-cs-fitato";
@import "page-cs-yuyutsu";
@import "page-work";

#contact-modal {
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: unset;
  opacity: 0;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
  will-change: opacity, z-index;
  
  &.show {
    opacity: 1;
    pointer-events: all;
    z-index: 120;
    backdrop-filter: blur(3px);
    transition: all 0.3s ease-in-out;

    .contact-modal-content {
      transform: translateY(0px) scale(1, 1);
      opacity: 1;
      transition: all 0.2s ease-in-out;
    }
  }
}

.contact-modal-content {
  background-color: $grey-color-light;
  margin: 10vw auto 50px auto;
  padding: 20px;
  padding-top: 0;
  border-top: 5px solid $primary-color;
  width: 60%;
  max-width: 800px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: $primary-shadow;
  -moz-box-shadow: $primary-shadow;
  box-shadow: $primary-shadow;
  position: relative;
  overflow: auto;
  transform: translateY(-10px) scale(1.05, 1.05);
  opacity: 0;
  transition: all 0.1s ease-in-out;

  h3 {
    margin: 30px 0 10px 0;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

.modal-close {
  color: $primary-color;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 20px;

  &:hover,
  &:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
}


form > div {
  max-width: 600px;

  @media (max-width: 1200px) {
    width: 75%;
  }

  @media (max-width: 767px) {
    width: 90%;
  }
}

.bottom-tab-contact-form {
  position: fixed;
  bottom: 0px;
  right: 30px;
  padding: 10px 25px;
  -webkit-box-shadow: $secondary-shadow;
  -moz-box-shadow: $secondary-shadow;
  box-shadow: $secondary-shadow;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 350px;
  border-top: 5px solid $primary-color;
  background-color: $primary-color;
  cursor: pointer;
  z-index: 999999;
  overflow: auto;
  max-height: 80vh;
  display: none;

  @media (max-width: 767px) {
    right: 3.5%;
    left: 3.5%;
    width: 80%;
  }

  img {
    vertical-align: bottom;
  }

  &__hook {
    p {
      display: inline-block;
      margin: 0;
      color: $grey-color-light;
      text-transform: uppercase;

      &:first-child {
        float: left;

        @media only screen and (max-width: 480px) {
          font-size: 16px;
        }
      }

      &:last-child {
        float: right;
      }
    }
  }

  &__content {
    display: none;

    p {
      font-size: 15px;
      margin-bottom: 1em;
    }

    h3 {
      font-size: 140%;
      margin: 0;
      margin-bottom: 10px;
      padding-right: 30px;
    }

    form {
      padding-right: 30px;
    }
  }

  &--close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: lighten($grey-color-dark, 50);

    &:hover,
    &:focus {
      color: lighten($grey-color-dark, 30);
    }
  }

  &__opened {
    background-color: #ffffff;
    padding: 25px;
    cursor: unset;
  }

  &__closed {
    background-color: #00c479;
    padding: 10px 25px;
    cursor: pointer;
  }
}

a,
.button,
input,
textarea {
  position: relative;
  z-index: 9;
}
