@import "variables";
@import "globals";
@import "components";
@import "header";
@import "footer";
@import "page-index";
@import "page-startups";
@import "page-sme";
@import "page-about";
@import "page-contact";
@import "page-privacy";
@import "page-thank-you";
@import "page-case-studies";
@import "page-cs-fitato";
@import "page-cs-yuyutsu";
@import "page-work";

#contact-modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

.contact-modal-content {
  background-color: $grey-color-light;
  margin: 70px auto 50px auto;
  padding: 20px;
  padding-top: 0;
  border-top: 5px solid $primary-color;
  width: 60%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-animation-name: animatemodal;
  -moz-animation-name: animatemodal;
  -o-animation-name: animatemodal;
  animation-name: animatemodal;
  -webkit-animation-duration: 0.2s;
  -moz-animation-duration: 0.2s;
  -o-animation-duration: 0.2s;
  animation-duration: 0.2s;
  -webkit-box-shadow: $primary-shadow;
  -moz-box-shadow: $primary-shadow;
  box-shadow: $primary-shadow;
  position: relative;
  overflow: auto;

  h3 {
    margin: 30px 0 10px 0;
  }

  @media (max-width: 480px) {
    width: 80%;
  }
}

.modal-close {
  color: $primary-color;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 15px;
  right: 20px;
}

.modal-close:hover,
.modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@-webkit-keyframes animatemodal {
  from {
    -webkit-transform: translateY(-10px) scale(1.05, 1.05);
    transform: translateY(-10px) scale(1.05, 1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px) scale(1, 1);
    transform: translateY(0px) scale(1, 1);
    opacity: 1;
  }
}

@-moz-keyframes animatemodal {
  from {
    -webkit-transform: translateY(-10px) scale(1.05, 1.05);
    -moz-transform: translateY(-10px) scale(1.05, 1.05);
    transform: translateY(-10px) scale(1.05, 1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px) scale(1, 1);
    -moz-transform: translateY(0px) scale(1, 1);
    transform: translateY(0px) scale(1, 1);
    opacity: 1;
  }
}

@-o-keyframes animatemodal {
  from {
    -webkit-transform: translateY(-10px) scale(1.05, 1.05);
    -o-transform: translateY(-10px) scale(1.05, 1.05);
    transform: translateY(-10px) scale(1.05, 1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px) scale(1, 1);
    -o-transform: translateY(0px) scale(1, 1);
    transform: translateY(0px) scale(1, 1);
    opacity: 1;
  }
}

@keyframes animatemodal {
  from {
    -webkit-transform: translateY(-10px) scale(1.05, 1.05);
    -moz-transform: translateY(-10px) scale(1.05, 1.05);
    -o-transform: translateY(-10px) scale(1.05, 1.05);
    transform: translateY(-10px) scale(1.05, 1.05);
    opacity: 0;
  }

  to {
    -webkit-transform: translateY(0px) scale(1, 1);
    -moz-transform: translateY(0px) scale(1, 1);
    -o-transform: translateY(0px) scale(1, 1);
    transform: translateY(0px) scale(1, 1);
    opacity: 1;
  }
}

form > div {
  max-width: 600px;

  @media (max-width: 1200px) {
    width: 75%;
  }

  @media (max-width: 767px) {
    width: 90%;
  }
}

.bottom-tab-contact-form {
  position: fixed;
  bottom: 0px;
  right: 30px;
  padding: 10px 25px;
  -webkit-box-shadow: $secondary-shadow;
  -moz-box-shadow: $secondary-shadow;
  box-shadow: $secondary-shadow;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  width: 350px;
  border-top: 5px solid $primary-color;
  background-color: $primary-color;
  cursor: pointer;
  z-index: 999999;
  overflow: auto;
  max-height: 80vh;
  display: none;

  @media (max-width: 767px) {
    right: 3.5%;
    left: 3.5%;
    width: 80%;
  }

  img {
    vertical-align: bottom;
  }

  &__hook {
    p {
      display: inline-block;
      margin: 0;
      color: $grey-color-light;
      text-transform: uppercase;

      &:first-child {
        float: left;

        @media only screen and (max-width: 480px) {
          font-size: 16px;
        }
      }

      &:last-child {
        float: right;
      }
    }
  }

  &__content {
    display: none;

    p {
      font-size: 15px;
      margin-bottom: 1em;
    }

    h3 {
      font-size: 140%;
      margin: 0;
      margin-bottom: 10px;
      padding-right: 30px;
    }

    form {
      padding-right: 30px;
    }
  }

  &--close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
    color: lighten($grey-color-dark, 50);

    &:hover,
    &:focus {
      color: lighten($grey-color-dark, 30);
    }
  }

  &__opened {
    background-color: #ffffff;
    padding: 25px;
    cursor: unset;
  }

  &__closed {
    background-color: #00c479;
    padding: 10px 25px;
    cursor: pointer;
  }
}

#particles-js {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  height: 100vh;
  width: 100vw;
}

a,
.button,
input,
textarea {
  position: relative;
  z-index: 9;
}
