include ../components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('Contact Ghaas',
      'Ghaas is Growth Hacking as a Service. A growth and digital marketing agency consisting of ex-founders and growth hackers who can help you grow your business, fast.',
      '../')
    +headScripts('../')

  body
    +nav('../', 'contact')

    main.contact
      section.section-hero
        .container
          .line
          h1 Contact Ghaas
          p Let's talk about growing your business.
      section.section-form
        .container
          .section-form__left
            p Please enter your details and we'll get in touch soon.
            #mc_embed_signup
              form#mc-embedded-subscribe-form.validate(action="https://xyz.us12.list-manage.com/subscribe/post?u=2c4041c68da79c12074045904&id=fe8c495a2f" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate="")
                #mc_embed_signup_scroll
                  .mc-field-group
                    label(for="mce-FULLNAME") Name 
                    input#mce-FULLNAME.required(type="text" value="" name="FULLNAME" placeholder="John Doe")
                  .mc-field-group
                    label(for="mce-EMAIL") Email Address 
                    input#mce-EMAIL.required.email(type="email" value="" name="EMAIL" placeholder="john@doe.com")
                  .mc-field-group
                    label(for="mce-MESSAGE") Message (with website URL) 
                    textarea#mce-MESSAGE.required(name="MESSAGE" placeholder="Enter your message")
                  #mce-responses.clear
                    #mce-error-response.response(style="display:none")
                    #mce-success-response.response(style="display:none")
                  // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                  div(style="position: absolute; left: -5000px;" aria-hidden="true")
                    input(type="text" name="b_2c4041c68da79c12074045904_fe8c495a2f" tabindex="-1" value="")
                  .clear
                    input#mc-embedded-subscribe.button(type="submit" value="SUBMIT" name="subscribe")
          .section-form__right
            p
              | Or reach us out at: 
              a(href="mailto:contact@ghaas.xyz") contact@ghaas.xyz

    +footer('../')
    script(src="../assets/js/app.js")
