include ../components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('Careers | Ghaas',
      'Ghaas is Growth Hacking as a Service. A growth and digital marketing agency consisting of ex-founders and growth hackers who can help you grow your business, fast.',
      '../')
    +headScripts('../')

  body
    +nav('../')

    main.careers
      section.section-hero
        .container
          .line
          h1 Work With Us
          p
            | Supercharge your career towards a growth marketer. Come, work with some of the best minds in the industry.
          a.button(href="#positions") View Positions
      section.section-intro
        .line
        h2 What We're Building
        .container
          .section-intro__what
            p
              | A young company is classified as a startup if it has the potential to grow exponentially rather than the sustained general 10-20% growth year on year. Paul Graham in his essays goes on to equate startups with growth.
            p
              | Depending on which stage your company is, growth can mean different things for you. We think of growth for startups is reaching the next stage of your company, as fast as possible. And we've divided the startup journey into three parts to better provide our services to help your startup grow, fast.
          .section-intro__culture
            h3 Company Culture
            p
              | We're very young, so the company culture doesn't exist as yet. That being said, we want to work towards building a culture that stimulates creativity, encourages independent thinking and pushes you to be your best. Combine this with an environment that breeds mutual respect, promotes learning and is a basically a fun place to work, that's what we want to build. Interested? Come join us!
            p
              | Oh, and did we mention learning? We're BIG on learning. So much so that we'll provide a learning allowance that you can use for purchasing books, e-learning courses or tutorials.
          .section-intro__serious
            h3 The Serious Stuff
            p We are very particular about certain things:
            ul
              li
                | Timely Execution. You get to set your own deadlines but you have to meet them. Always.
              li Commitment. We're very young and cannot afford casual at the moment. Sorry.
              li Quality. Strive towards turning in the highest quality stuff. Every single time.
      section#positions.section-positions
        .container
          .line
          h2 Open Positions
          .section-positions__menu
            .section-positions__menu--item
              a.h4(href="#associate-growth-marketer") Associate Growth Marketer
            .section-positions__menu--item
              a.h4(href="#visual-communication-designer") Visual Communication Designer
          #associate-growth-marketer.section-positions__position
            h3 Associate Growth Marketer
            p
              | The position of Associate Growth Marketer is essentially for someone who sees themselves leading growth teams at startups eventually. The work will be very hands-on, in some cases directly responsible for end to end execution, optimization, and reporting. The ideal candidate will be young, with not more than 1 year of experience, ambitious and strong analytical thinker. Ideal background would include demonstrable experience in at least one of the following:
            ul
              li
                | Search Engine Optimisation - The candidate should have been actively involved in optimizing websites for search engine presence. Right from research, content creation, technical implementation, measuring and reporting.
              li
                | Pay Per Click Campaigns - The candidate should have been actively running Pay Per Click campaigns of different types on multiple platforms (Google and Facebook).
              li
                | Content Marketing - Actively involved with content marketing to generate traffic and convert subscribers. The candidate should understand research, content creation, long-form writing and content distribution.
            p
              strong Non-negotiable:
              |  Strong command over English language.
            p
              strong Good to have:
            ul
              li Basic understanding of how technology products work.
              li Working knowledge of HTML/CSS and the ability to create basic websites.
            a.button(href="mailto:contact@ghaas.xyz") Apply now
          #visual-communication-designer.section-positions__position
            h3 Visual Communication Designer
            p
              | The visual communication designer's role is all about compelling storytelling through design, imagery, and typography. The ideal candidate would own and define the design mandate of the company. Some of the areas of execution would include graphic design, marketing collateral designs, advertisement designs, landing page designs and a bit of branding. We're looking for someone who has the confidence to work on real, live projects; has not more than 1 year of experience and wants to explore multiple design styles and schools of thoughts before settling in.
            p
              strong Non-negotiable:
              |  Strong command over English language and high attention to detail.
            p
              strong Good to have:
            ul
              li Basic understanding of how technology products work.
              li Working knowledge of HTML/CSS and the ability to create basic websites.
              li Understanding of User Experience principles.
              li Working knowledge of Conversion Rate Optimisation.
            a.button(href="mailto:contact@ghaas.xyz") Apply now

    +sectionTalk('Still have questions?')
    +footer('../')
    +contactModal
    +contactTab
    script(src="../assets/js/app.js")
