include ../components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('Growth & Digital Marketing For Small and Medium-sized Enterprises | Ghaas',
      'The best growth and digital marketing services for small and medium enterprises. We apply startup growth principles to your business to achieve exponential growth for your business.',
      '../')
    +headScripts('../')

  body
    +nav('../', 'sme')

    main.sme
      section.section-hero
        .container
          .section-hero__wrapper
            .line
            h1 Growth & Digital Marketing For SMEs
            p Applying startup growth principles to SMEs to achieve exponential growth.
            span#contact-modal-trigger.button Talk to us
      section.section-what
        .container
          .line
          h2
            | What is Growth for SME
            span.lowercase s
            | ?
          p
            | Businesses need leads, be it either a service-based business or selling products.
          p
            | Our mandate, as your digital marketing & growth partner is to ensure that your sales pipeline always has enough leads to work with - so you can focus on your core business.
          p
            | We handle your complete web presence, right from your website's design and development to ensure that it gets noticed on the internet, to optimizing lead conversions and automating your sales pipeline. With us as your growth and marketing partner, you'll always have business opportunities knocking at your door.
      section.section-steps
        .container
          .section-steps__items
            .section-steps__item
              .section-steps__item--top
                img(src="../assets/img/leads-on-the-internet.svg" alt="leads on the internet")
              .section-steps__item--bottom
                h3.h4 Perspective Leads on the Internet
            .section-steps__item
              .section-steps__item--top
                img(src="../assets/img/the-ghass-process.svg" alt="the ghaas process")
              .section-steps__item--bottom
                h3.h4
                  strong The Ghaas Process
            .section-steps__item
              .section-steps__item--top
                img(src="../assets/img/your-sales-funnel.svg" alt="sales funnel")
              .section-steps__item--bottom
                h3.h4 Your Sales Funnel
          span#contact-modal-trigger.button Get Ghaas for your Business
      section.section-services
        .container
          .line
          h2 Services
          .section-services__items
            .section-services__item
              h3 Website Management
              ul
                li Creating and optimizing the website flow.
                li Optimize the user flow.
                li A/B and multivariate testing.
            .section-services__item
              h3 Content Management
              ul
                li Create a strong content strategy, in tune with the brand.
                li Create a content plan for both on-site and off-site posting.
                li High-value content to drive maximum engagement.
            .section-services__item
              h3 PPC Management
              ul
                li Identify the right channels with the highest PPC ROI.
                li Plan and strategize Pay Per Clicks campaign execution.
                li Best in market PPC results with comprehensive reporting.
          .section-services__items
            .section-services__item
              h3 Analytics
              ul
                li Identify the business KPIs and set up tracking for the right metrics.
                li Ensure end-to-end tracking of every user behavior.
                li Retargeting high-value potential users.
            .section-services__item
              h3 Search Engine Optimization
              ul
                li Keyword research to identify high-value terms.
                li White hat backlinking strategy to a high PR.
                li High-value content driven SEO, both on and off site.
            .section-services__item
              h3 Marketing Automation
              ul
                li Consult and advise on the automation requirements.
                li Identify the right platforms and ensure they all work in tandem.
                li Multi-flow automation based on triggers and user behavior.

    +sectionTalk('Rapid experimentation to find, optimize and capitalise on high impact channels is the core of what we do.')
    +footer('../')
    +contactModal
    +contactTab
    script(src="../assets/js/app.js")
