include ../components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('About Ghaas',
      'Ghaas is Growth Hacking as a Service. A growth and digital marketing agency consisting of ex-founders and growth hackers who can help you grow your business, fast.',
      '../')
    +headScripts('../')

  body
    +nav('../', 'about')

    main.about
      section.section-hero
        .container
          .line
          h1 About Ghaas
          p
            | We&apos;re a team of digital marketers, growth hackers, data nerds and content specialists, who&apos;ve come together with a very specific goal: to help your business grow, fast.
          br
          span#contact-modal-trigger.button Talk to us
      section.section-team
        .container
          .line
          h2 The Team
          .section-team__items
            .section-team__item
              img(src='../assets/img/team/akshat-goyal.jpg' alt='akshat goyal')
              h3 Akshat Goyal
              p Chief
            .section-team__item
              img(src='../assets/img/team/sagnik-sarkar.jpg' alt='sagnik sarkar')
              h3 Sagnik Sarkar
              p Growth Marketer (Content Specialist)
            .section-team__item
              img(src='../assets/img/team/akshay-dhiman.jpg' alt='akshay dhiman')
              h3 Akshay Dhiman
              p Web Developer
            .section-team__item
              img(src='../assets/img/team/prateek-jain.jpg' alt='prateek jain')
              h3 Prateek Jain
              p Digital Marketer
            .section-team__item
              img(src='../assets/img/team/malcolm-rebello.jpg' alt='malcolm rebello')
              h3 Malcolm Rebello
              p Creative Head
            .section-team__item
              img(src='../assets/img/team/amandeep-singh.jpg' alt='amandeep singh')
              h3 Amandeep Singh
              p Visual Designer

    +sectionTalk('Let\'s talk about growing your business')
    +footer('../')
    +contactModal
    +contactTab
    script(src='../assets/js/app.js')
