include ../components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('Work | Ghaas',
      'Ghaas is Growth Hacking as a Service. A growth and digital marketing agency consisting of ex-founders and growth hackers who can help you grow your business, fast.',
      '../')
    +headScripts('../')
  body
    +nav('../', 'work')

    main.work
      section.work-hero
        .container
          h1 Work

    +footer('../')
    +contactModal
    +contactTab
    script(src="../assets/js/app.js")
