include ../../components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('Yuyutsu Case Study | Ghaas',
      'The best growth and digital marketing services for small and medium enterprises. We apply startup growth principles to your business to achieve exponential growth for your business.',
      '../../')
    +headScripts('../../')

  body.cs-yuyutsu
    +nav('../../', 'cs')

    main
      section.cs-yuyutsu-hero
        .container
          // <div class="line"></div>
          h1
            img(src="../../assets/img/case-studies/yuyutsu/yuyutsu-systems-logo.jpg" alt="yuyutsu logo" title="Yuyutsu Systems: Your Dedicated IT and Admin Team")
          img(src="../../assets/img/case-studies/yuyutsu/yuyutsu-bg-it.png" alt="yuyutsu team")
        .cs-yuyutsu-hero--top-curve
      section.cs-yuyutsu-intro
        .container
          h2
            span.weight-300 A Different Approach:
            |  Design Leading The Way
          p
            | Yuyutsu Systems is a holistic IT system and Admin Service Provider. It primarily delivers office security, internet services and data centres for companies.
          hr
          h3
            | The Problem
            p
              | A major challenge in marketing for IT services digitally is to make a traditional industry look interesting for a digital audience, an unexplored media channel for the industry.
            p
              | After researching, we realised that there was nothing new in the message we could share about the industry. So, we went for a different approach.
            h3
              | The Visual Approach
              p
                | A crisp copy complementing an illustrative visual is what we resolved to. Simply put, we let the visuals do the talking.
      section.cs-yuyutsu-concepts
        .container
          h2 Concepts
          .cs-yuyutsu-concepts__items
            .cs-yuyutsu-concepts__left
              img(src="../../assets/img/case-studies/yuyutsu/yuyutsu-banner_01.png" alt="")
            .cs-yuyutsu-concepts__right
              h3 Don’t let bad internet put a hold on your business
              p
                | The goal of this concept was not to directly say we provide the best internet services, but to humorously bring to the notice the problem companies face if the internet is down, so it becomes more relatable.
          .cs-yuyutsu-concepts__items
            .cs-yuyutsu-concepts__left(style="order: 2")
              img(src="../../assets/img/case-studies/yuyutsu/yuyutsu-banner_03.png" alt="")
            .cs-yuyutsu-concepts__right
              h3 Is managing your data being a problem?
              p
                | This concept shows how things can get messy when you run out of space. The file storage room is a symbological element to show the digital space where the company can store their data. This is a different approach to indirectly give a solution by placing the onlooker in the problem statement first.
          .cs-yuyutsu-concepts__items
            .cs-yuyutsu-concepts__left
              img(src="../../assets/img/case-studies/yuyutsu/yuyutsu-banner_04.png" alt="")
            .cs-yuyutsu-concepts__right
              h3 Concerned about your office security?
              p
                | Taking a direct approach to say we sell security systems seemed too mainstream, so we chose to show the problem with a humorous tone showing unauthorised access and it indirectly created a feeling of the need to solve the issue which in turn Yuyutsu provides.
          .cs-yuyutsu-concepts__items
            .cs-yuyutsu-concepts__left(style="order: 2")
              img(src="../../assets/img/case-studies/yuyutsu/yuyutsu-banner_05.png" alt="")
            .cs-yuyutsu-concepts__right
              h3 Worried about the security of your data?
              p
                | This concept is a representation of digital theft where thieves are openly lifting the company’s confidential files because the files are not secured enough. Which brings Yuyutsu in light to save the day by providing tough security for your data.
      section.cs-yuyutsu-components
        .container
          h2 Components of Design
          .cs-yuyutsu-components--thunder
          h3 Colour: Blaze Orange (#ff6600)
          p
            | After researching this sector of the market, we came to a conclusion that the competitors had the same cool tech colour palette, and in order to stand out, we chose to go for a warm blaze orange tone. The colour orange radiates warmth and happiness, combining the physical energy and stimulation of red with the cheerfulness of yellow. This choice of colour helped us to give this startup a quirky, electric look while keeping it very attractive so that it’s the first thing the customer will lay their eyes on and will remember.
          .cs-yuyutsu-components--pencil
          h3 Visuals: Illustration
          p
            | The companies dealing in services like these always choose to go for a corporate, formal approach which most of the time creates a barrier between the company and the customer as it is less engaging and has a very less brand recall value. We introduced illustrations in our approach to solving this issue. It helped in making the brand Yuyutsu stand out and provided the customer with a very casual, friendly, engaging brand interaction.
      section.cs-yuyutsu-collaterals
        .cs-yuyutsu-collaterals--top-curve
        .container
          h2 Marketing Collaterals
          .cs-yuyutsu-collaterals--l
            img(src="../../assets/img/case-studies/yuyutsu/Website-large.jpg" alt="yuyutsu website")
            img(src="../../assets/img/case-studies/yuyutsu/FB-carousel-ads-large.jpg" alt="yuyutsu facebook carousel ads")
            img(src="../../assets/img/case-studies/yuyutsu/LinkedIn-ads-large.jpg" alt="yuyutsu linkedin ads")
          .cs-yuyutsu-collaterals--m
            img(src="../../assets/img/case-studies/yuyutsu/Website.jpg" alt="yuyutsu website")
            img(src="../../assets/img/case-studies/yuyutsu/FB-carousel-ads.jpg" alt="yuyutsu facebook carousel ads")
            img(src="../../assets/img/case-studies/yuyutsu/LinkedIn-ads.jpg" alt="yuyutsu linkedin ads")
          h2 Conclusion
          p
            | A good dish that lacks presentation often fails to gain appreciation. But a traditional recipe if garnished well is often admired more. So, explore the visual world and design away.

    +sectionTalk('Let\'s script your growth story')
    +footer('../../')
    +contactModal
    script(src="../../assets/js/app.js")
