include ../components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('Growth & Digital Marketing For Small and Medium-sized Enterprises | Ghaas',
      'The best growth and digital marketing services for small and medium enterprises. We apply startup growth principles to your business to achieve exponential growth for your business.',
      '../')
    +headScripts('../')

  body
    +nav('../', 'cs')

    main.case-studies
      section.case-studies-hero
        .container
          .line
          h1 Case Studies
      section.case-studies-clients
        .container
          a.case-studies-clients__item(href="fitato/")
            img(src="../assets/img/case-studies/fitato/fitato-design-bg.jpg" alt="fitato")
            .case-studies-clients__item--content
              h3
                | Fitato 
                span(style="vertical-align: text-top;") →
              p Consulting CMO and full stack growth marketing
          a.case-studies-clients__item(href="yuyutsu/")
            img(src="../assets/img/case-studies/yuyutsu/yuyutsu-bg-it.png" alt="yuyutsu")
            .case-studies-clients__item--content
              h3
                | Yuyutsu Systems 
                span(style="vertical-align: text-top;") →
              p A Different Approach: Design Leading The Way

    +footer('../')
    +contactModal
    +contactTab
    script(src="../assets/js/app.js")
