include components/_index.pug
doctype html
html(lang="en")
  head
    +headMeta('404 Error - Page Not Found | Ghaas',
      'Ghaas is Growth Hacking as a Service. A growth and digital marketing agency consisting of ex-founders and growth hackers who can help you grow your business, fast.',
      '')
    +headScripts('')

    style.
      main { min-height: 600px; background-color: #efefef; display: flex; justify-content: center; align-items: center; }
      main .container { padding: 100px 7%; text-align: center; }
      main h1 { margin-bottom: 30px; }
      main p, main a { font-size: 20px; }
  body
    +nav('')

    main
      .container
        h1 404 Error
        p The page you are looking for doesn't exist or an error occurred.
        a(href="./") Head to the home page and choose a new direction.
  
    +footer('')

    script.
      /* Menu handling for smaller screens. */
      var menu = document.getElementsByClassName('nav-right')[0];
      var menuBg = document.getElementsByClassName('menu-trigger-bg')[0];
      window.onclick = function(e) {
      /* Navigation menu toggle. */
      if(e.target.className === 'menu-trigger' && getComputedStyle(menu, null).display === 'none') {
      menu.style.display = 'block';
      menuBg.style.display = 'block';
      } else if(e.target.className === 'menu-trigger' && getComputedStyle(menu, null).display === 'block' || e.target.className === 'menu-trigger-bg' && getComputedStyle(menuBg, null).display === 'block') {
      menu.style.display = 'none';
      menuBg.style.display = 'none';
      }
      }
      /* Adding current year to the copyright section. */
      var date = new Date();
      document.getElementsByClassName('current-year')[0].innerHTML = date.getFullYear();
